.discover {
  background: url("../../img/discover-bg.jpg") 50% 50% / cover no-repeat;
  padding: 128px 0;
  height: 100%;
  color: #fff;
  text-align: center;
}

.discover__title {
  font-size: 72px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 44px;
}

.discover__link {
  padding: 12px 16px;
  background: var(--accent-color);
  font-size: 20px;
  color: var(--black-link);
  border-radius: 8px;
}