.hero {
  background: url("../../../img/hero-bg.jpg") 50% 50% / cover no-repeat;
  height: 100%;
  padding: 160px 0;
  color: #fff;
}

.hero__title {
  font-size: 72px;
  margin-bottom: 24px;
  max-width: 50%;
}

.hero__desc {
  font-size: 24px;
  margin-bottom: 44px;
  max-width: 40%;
}

.hero__link {
  padding: 12px 16px;
  background: var(--accent-color);
  font-size: 20px;
  color: var(--black-link);
  border-radius: 8px;
}